<% include ./partials/header %>
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div id="roomDisplay"></div>
        <h1>CHAT</h1>
        <div class="userFormArea">
          <form class="userForm">
            <label>Enter Your Name:</label>
            <input id="username" autocomplete="off" /><button>Send</button>
          </form>
          <p id="errorMsg"></p>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="chatArea">
              <div class="onlineUsers">
                <h3>Online users:</h3>
                <div class="users"></div>
              </div>
              <div class="chat">
                <ul id="messages"></ul>
                <form class="messageForm">
                  <input id="message" autocomplete="off" placeholder="Send Message" /><button>Send</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="video col-xs-6">
        <h2><%= animeTitle %></h2>
        <iframe src="<%= animeUrl %>" width="560" height="315" frameborder="0" allowfullscreen></iframe>
        number of vid src links: <%= vidSrcs.length%><br />
        number of episode urls: <%= epUrls.length%>
        <%= vidSrcs %> 
        <ul>
          <% for(i=0;i<epUrls.length;i++) { %>
            <li>
              <%= epNums[i] %> : <%= epUrls[i] %> : <%= vidSrcs[i]%>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="../public/js/video_chat.js"></script>
<% include ./partials/footer %>
